<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Block.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Block__底层实现原理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Block_底层实现原理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Block底层实现原理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>296504B71C91751000ED25D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29805B5F1CA64E350046909F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29805B7D1CA64E6C0046909F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29805B881CA6540E0046909F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
